.header {
  padding: 80px;
}
.logo {
  width: 100px;
  height: 60px;
  margin: 0 auto 80px;
  display: block;
}
.logo svg {
  width: 100px;
  height: 60px;
}
.btn-menu {
  background: #000;
  border: 0;
  color: #fff;
}
.btn-menu,
.btn-close,
.header .contact-form {
  display: none;
}
.nav {
  display: flex;
  justify-content: center;
}
.nav a {
  color: #000;
  margin: 0 40px;
}
.section {
  width: 1024px;
  margin: 0 auto;
}
/* tablet */

@media only screen
and (min-width: 1024px)
and (max-width: 1280px) {
  .logo {
    width: 80px;
    height: 48px;
  }
  .logo svg {
    width: 80px;
    height: 48px;
  }
  .wrapper.menu-open {
    padding: 316px 0 0;
  }
  .wrapper.menu-open .header {
    width: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
  }
  .wrapper.menu-open .header .logo svg * {
    fill: #fff;
  }
  .wrapper.menu-open .header .nav a {
    color: #fff;
  }
}

/* mobile */

@media only screen
and (min-width: 0)
and (max-width: 1023px) {
  .logo {
    display: none;
  }


}